In [1]:
import numpy as np
import pandas as pd

## Series/ seriler

In [2]:
benimSozlugum= {"atıl" : 50, "zeynep" : 40, "mehmet" : 30}

In [3]:
pd.Series(benimSozlugum)

atıl      50
zeynep    40
mehmet    30
dtype: int64

In [5]:
benimYaslarim=[50,40,30]
benimIsimlerim= ["atıl","zeynep", "mehmet"]

In [6]:
pd.Series(benimYaslarim)

0    50
1    40
2    30
dtype: int64

In [7]:
pd.Series(benimYaslarim , benimIsimlerim)

atıl      50
zeynep    40
mehmet    30
dtype: int64

In [8]:
pd.Series(data=benimYaslarim, index=benimIsimlerim)

atıl      50
zeynep    40
mehmet    30
dtype: int64

In [9]:
numpyDizisi= np.array([50,40,30])

In [10]:
numpyDizisi

array([50, 40, 30])

In [12]:
pd.Series(numpyDizisi, benimIsimlerim)

atıl      50
zeynep    40
mehmet    30
dtype: int32

In [13]:
pd.Series(["Atıl","Atlas","Osman"])

0     Atıl
1    Atlas
2    Osman
dtype: object

In [14]:
pd.Series(["Atıl","Atlas","Osman"],[1,2,3])

1     Atıl
2    Atlas
3    Osman
dtype: object

In [15]:
yarismaSonucu1=pd.Series([10,5,1],["Atıl","Atlas","osman"])

In [16]:
yarismaSonucu1

Atıl     10
Atlas     5
osman     1
dtype: int64

In [17]:
yarismaSonucu2=pd.Series([20,10,8],["Atıl","Atlas","osman"])

In [18]:
yarismaSonucu2

Atıl     20
Atlas    10
osman     8
dtype: int64

In [19]:
sonSonuc=yarismaSonucu1 + yarismaSonucu2

In [20]:
sonSonuc

Atıl     30
Atlas    15
osman     9
dtype: int64

In [22]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [23]:
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [24]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [25]:
farkliSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [26]:
farkliSeries+farkliSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64