In [1]:
import pandas as pd
import numpy as np

In [2]:
sozluk1 ={ "isim" :["Ahmet","Mehmet","Zeynep","Atıl"],
         "spor":["koşu","yüzme","koşu","basketbol"],
          "kalori" :[100,200,300,400]
         }

In [3]:
dataFrame1=pd.DataFrame(sozluk1, index=[0,1,2,3])

In [4]:
dataFrame1

     isim       spor  kalori
0   Ahmet       koşu     100
1  Mehmet      yüzme     200
2  Zeynep       koşu     300
3    Atıl  basketbol     400

In [5]:
sozluk2 ={ "isim" :["Osman","Levent","Atlas","Fatma"],
         "spor":["koşu","yüzme","koşu","basketbol"],
          "kalori" :[100,100,50,300]
         }

In [6]:
dataFrame2=pd.DataFrame(sozluk2, index=[4,5,6,7])

In [7]:
sozluk3 ={ "isim" :["Ayse","Mahmut","Duygu","Nur"],
         "spor":["koşu","yüzme","badminton","tenis"],
          "kalori" :[300,400,500,600]
         }

In [8]:
dataFrame3=pd.DataFrame(sozluk3, index=[8,9,10,11])

## concatenation/birlestirme

In [9]:
pd.concat([dataFrame1,dataFrame2,dataFrame3])

      isim       spor  kalori
0    Ahmet       koşu     100
1   Mehmet      yüzme     200
2   Zeynep       koşu     300
3     Atıl  basketbol     400
4    Osman       koşu     100
5   Levent      yüzme     100
6    Atlas       koşu      50
7    Fatma  basketbol     300
8     Ayse       koşu     300
9   Mahmut      yüzme     400
10   Duygu  badminton     500
11     Nur      tenis     600

## merge

In [10]:
mergeSozluk = {"isim": ["Ahmet","Mehmet","Zeynep","Atıl"],
              "spor":["koşu","yüzme","koşu","basketbol"]}

In [11]:
mergeDataFrame1= pd.DataFrame(mergeSozluk)

In [12]:
mergeSozluk2 = {"isim": ["Ahmet","Mehmet","Zeynep","Atıl"],
              "kalori":[100,200,300,400]}

In [13]:
mergeDataFrame2= pd.DataFrame(mergeSozluk2)

In [14]:
mergeDataFrame1

     isim       spor
0   Ahmet       koşu
1  Mehmet      yüzme
2  Zeynep       koşu
3    Atıl  basketbol

In [15]:
mergeDataFrame2

     isim  kalori
0   Ahmet     100
1  Mehmet     200
2  Zeynep     300
3    Atıl     400

In [16]:
pd.merge(mergeDataFrame1,mergeDataFrame2, on="isim")

     isim       spor  kalori
0   Ahmet       koşu     100
1  Mehmet      yüzme     200
2  Zeynep       koşu     300
3    Atıl  basketbol     400

## Pandas İleri Operasyonlar

In [17]:
maasSozluk={"isimler":["atil","zeynep","mehmet","ahmet"],
           "departman": ["yazilim","satis","pazarlama","yazilim"],
           "maas": [200,300,400,500]}

In [18]:
maasDataFrame= pd.DataFrame(maasSozluk)

In [19]:
maasDataFrame["departman"]

0      yazilim
1        satis
2    pazarlama
3      yazilim
Name: departman, dtype: object

In [20]:
maasDataFrame

  isimler  departman  maas
0    atil    yazilim   200
1  zeynep      satis   300
2  mehmet  pazarlama   400
3   ahmet    yazilim   500

In [21]:
maasDataFrame["departman"].unique()

array(['yazilim', 'satis', 'pazarlama'], dtype=object)

In [22]:
maasDataFrame["departman"].nunique()

3

In [23]:
maasDataFrame["departman"].value_counts()

yazilim      2
pazarlama    1
satis        1
Name: departman, dtype: int64

In [24]:
def bruttenNete(maas):
    return maas*0.66

In [25]:
maasDataFrame["maas"].apply(bruttenNete)

0    132.0
1    198.0
2    264.0
3    330.0
Name: maas, dtype: float64

In [26]:
maasDataFrame.isnull()

   isimler  departman   maas
0    False      False  False
1    False      False  False
2    False      False  False
3    False      False  False

In [27]:
yeniBirVeri={"karakter sınıfı": ["south park","south park","simpson","simpson"],
            "karakter ismi":["cartman","kenny","homer", "bart"],
            "karakter yas": [9,10,50,20]}

In [28]:
karakterDF=pd.DataFrame(yeniBirVeri)

In [29]:
karakterDF.pivot_table(values="karakter yas", index=["karakter sınıfı","karakter ismi"])

                               karakter yas
karakter sınıfı karakter ismi
simpson         bart                     20
                homer                    50
south park      cartman                   9
                kenny                    10

In [31]:
yeniBirVeri1={"karakter sınıfı": ["south park","south park","simpson","simpson","simpson"],
            "karakter ismi":["cartman","kenny","homer", "bart","bart"],
            "karakter yas": [9,10,50,20,10]}

In [32]:
karakterDF1=pd.DataFrame(yeniBirVeri1)

In [33]:
karakterDF1.pivot_table(values="karakter yas", index=["karakter sınıfı","karakter ismi"])

                               karakter yas
karakter sınıfı karakter ismi
simpson         bart                     15
                homer                    50
south park      cartman                   9
                kenny                    10

## excel

In [34]:
# nootebook un kayıtlı olduğu klasör ile excel aynı klasörde olmalı!!!

In [35]:
pd.read_excel("puan.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'puan.xlsx'